/* Apply responsive font size and centering */
body {
    background-color: black;
}

.logotext {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Center the text horizontally */
}

.logotext h1 {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    font-style: italic;
    color: white;
    font-size: 9em; /* Adjust the value for responsiveness */
    margin: 0; /* Remove default margins */
}

.logoimg {
    position: absolute;
    top: 25%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.logoimg img {
    width:340px; /* Initial image width */
    margin-right: 10px; /* Maintain aspect ratio */
}

.smallTxt {
    position: absolute;
    top: 34%; /* Adjust the top position to vertically center */
    left: 21%; /* Adjust the left position for the left text */
    transform: translate(0, -50%);
    text-align: left; 
}
   

.smallTxt#sTright {
    left: auto; 
    top: 34%;
    right: 28%; 
    text-align: right; 
}

.smallTxt h2,
.smallTxt h3,
.description {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: white;
    font-size: 1em;
    margin: 0;
}

.description h4 {
    text-align: center; /* Center the text horizontally */
    margin-top: 490px;
    display: block;
    padding-right: 100px;
}

.rectnav {
    width: 1900px; 
    height: 150px; 
    border: 1px solid white; 
    background-color: transparent; 
    justify-content: space-between;
    margin-top:135px; 
    display: flex;
    align-items: center;
}

.nav-item {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: #E48D0A;
    font-size: 30px;
    margin:0;
    margin-left:40px; 
    margin-top: -40px;
}

.divider {
    width: 1px;
    height: 150px;
    background-color: white;

}
.passage{
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: #E48D0A;
    font-size: 16px;
    margin:0;
}
#button1 {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: #E48D0A;
    background-color:black;
    font-size: 30px;
    margin:0;
   
}
#button2 {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: #E48D0A;
    background-color:black;
    font-size: 30px;
    margin:0;
}
#button3{
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: #E48D0A;
    background-color:black;
    font-size: 30px;
    margin:0;
}
#button4 {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: #E48D0A;
    background-color:black;
    font-size: 30px;
    margin:0;
    border-width: 1px;
    margin-left:40px; 
    margin-top: -40px;
}
/* reference edit */
.Rlinks{
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    color: #E48D0A;
    font-size: 30px;
    margin:0;
    margin-left:40px; 
    margin-top: -40px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .logotext h1 {
        font-size: 2em; /* Adjust the font size for smaller screens */
    }
    

    .logoimg img {
        width: 100%; /* Set the width to 100% to make the image fluid within its container */
        max-width: 800px; /* Add a max-width to prevent the image from becoming too large on very small screens */
        margin-right: 0; /* Remove the margin to make the image touch the edge of the container */
    }

    
     .logoimg {
          
            top:35%;
            left:30%;
            transform: translate(65%, -100%);
        }
    
    .logotext {
        position: absolute;
        top: 25%;
        left: -115%;
        transform: translate(65%, -90%);
        text-align: center; /* Center the text horizontally */
    }
.logotext h1{
    font-size: 6em;
}
      
}
