* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

.logotext {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
 
}

.logotext h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-style: italic;
  color: white;
  font-size: 10vw; 
  margin: 0; 
  flex-wrap: wrap;
  top: 40%;
}

.logoimg {
  position: absolute;
  top: 20%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.logoimg img {
  width: 340px; 
  margin-right: 10px;
}

.smallTxt-container {
  display: flex;
  flex-wrap: wrap;
}

.smallTxt {
  position: absolute;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: white;
  font-size: 1em;
  width: auto; 
}

#sTleft {
  top: 25%; 
  margin-left: 60%;
}

#sTright {
  top: 25%;
  margin-left: 270px;
}

.description h4 {
  text-align: center; 
  margin-top: 200px;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-size: 1.5em;
}

.rectnav {
  width: 1900px;
  height: 150px;
  border: 1px solid white;
  background-color: transparent;
  justify-content: space-between;
  margin-top: 135px;
  display: flex;
  align-items: center;
  margin-left: 11px;
}

.nav-item {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: #e48d0a;
  font-size: 30px;
  margin: 0;
  margin-left: 40px;
  margin-top: -40px;
}

.divider {
  width: 1px;
  height: 150px;
  background-color: white;
}
.passage {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: #e48d0a;
  font-size: 16px;
  margin: 0;
}
#button1 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: #e48d0a;
  background-color: black;
  font-size: 30px;
  margin: 0;
}
#button2 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: #e48d0a;
  background-color: black;
  font-size: 30px;
  margin: 0;
}
#button3 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: #e48d0a;
  background-color: black;
  font-size: 30px;
  margin: 0;
}
#button4 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: #e48d0a;
  background-color: black;
  font-size: 30px;
  margin: 0;
  border-width: 1px;
  margin-right: 15%;
}

.Rlinks {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: #e48d0a;
  font-size: 30px;
  margin: 0;
  margin-left: 40px;
  margin-top: -40px;
}
.coin-list {
  position: absolute;
  top: 350px;
  right: 2%;

  display: flex;
  align-items: center;
}
.coin {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  color: white;
  font-weight: bold;
  padding: 7px 7px;
}

.coin img {
  width: 30px;
  margin-right: 10px;
}
.coin h3 {
  color: #fff;
  margin-bottom: 5px;
}

